/* body{

    background-color: rgb(176, 121, 121);
} */
/* .can{
    background-color: rgb(241, 22, 22);
} */
.MM {
  color: rgb(0, 0, 0);
  /* font-size: large; */
  margin-top: 10%;
}

body {
  background: honeydew;
}
